@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./special-effects.css";

@layer base {
  :root {
    --glow-text: #ffffff;
    --glow-text-bg: #0e3742;
    --glow-text-alternate: #ffffff;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --content-min-height: calc(100% - 333px);

    --shimmer-hue-1: 213deg;
    --shimmer-sat-1: 95%;
    --shimmer-lit-1: 91%;
    --shimmer-hue-2: 248deg;
    --shimmer-sat-2: 100%;
    --shimmer-lit-2: 86%;
    --shimmer-hue-3: 293deg;
    --shimmer-sat-3: 78%;
    --shimmer-lit-3: 89%;

    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: linear(
      0,
      0.002,
      0.01 0.9%,
      0.038 1.8%,
      0.156,
      0.312 5.8%,
      0.789 11.1%,
      1.015 14.2%,
      1.096,
      1.157,
      1.199,
      1.224 20.3%,
      1.231,
      1.231,
      1.226,
      1.214 24.6%,
      1.176 26.9%,
      1.057 32.6%,
      1.007 35.5%,
      0.984,
      0.968,
      0.956,
      0.949 42%,
      0.946 44.1%,
      0.95 46.5%,
      0.998 57.2%,
      1.007,
      1.011 63.3%,
      1.012 68.3%,
      0.998 84%,
      1
    );
    --spring-duration: 1.33s;
  }

  .dark {
    --glow-text: #ffffff;
    --glow-text-bg: #03bcf4;
    --glow-text-alternate: #0e3742;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: var(--font-manrope);

    /* font-family: "banilu" !important; */
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* .hero-header,
.hero-header * {
  font-family: "banilu" !important;
} */

.modal {
  @apply bg-secondary dark:bg-foreground text-secondary-foreground dark:text-secondary border-primary dark:border-secondary;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  min-width: 650px;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Firefox 3.5 - 3.6 */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-overlay.show {
  display: block;
}

.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1.5px);
}

.modal-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.modal input {
  border: 1px solid;
  border-radius: 3px;
  /* @apply bg-background text-card-foreground border-card; */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  color: #25b09b;
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g), var(--_g), var(--_g);
  background-size: 50.1% 50.1%;
  animation:
    l6-0 1.5s infinite steps(1) alternate,
    l6-0-0 3s infinite steps(1);
}
.loader::before {
  content: "";
  background: currentColor;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right;
  animation: l6-1 1.5s infinite linear alternate;
}
@keyframes l6-0 {
  0% {
    background-position:
      0 100%,
      100% 100%,
      100% 0;
  }
  33% {
    background-position:
      100% 100%,
      100% 100%,
      100% 0;
  }
  66% {
    background-position:
      100% 0,
      100% 0,
      100% 0;
  }
}
@keyframes l6-0-0 {
  0% {
    transform: scaleX(1) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) rotate(-90deg);
  }
}
@keyframes l6-1 {
  16.5% {
    transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
    filter: grayscale(0.8);
  }
  33% {
    transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg);
  }
  66% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(-180deg);
    filter: grayscale(0.8);
  }
}

.main-div {
  background-image:
    url(../public/svg/Japenese.svg), url(../public/svg/Korean.svg);
  background-position:
    top 25px left 100px,
    top 40px right 10px;
  background-repeat: no-repeat;
  background-size: 15%, 35%;
  -o-background-size: 15%, 35%;
  -webkit-background-size: 15%, 35%;
}

.dark .main-div {
  background-image:
    url(../public/svg/Japenese-dark.svg), url(../public/svg/Korean-dark.svg);
}

.required {
  width: fit-content;
  position: relative;

  &::after {
    content: "*";
    color: red;
    position: absolute;
    right: -7px;
  }
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
}
.checkbox-wrapper [type="checkbox"].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.checkbox-wrapper [type="checkbox"].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: sub;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background:
    url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition:
    color 0.1s,
    border 0.1s,
    background 0.15s,
    box-shadow 0.1s;
}
.checkbox-wrapper [type="checkbox"].substituted:enabled:active + label:before,
.checkbox-wrapper [type="checkbox"].substituted:enabled + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.checkbox-wrapper [type="checkbox"].substituted:checked + label:before {
  background-color: #3b99fc;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.checkbox-wrapper
  [type="checkbox"].substituted:checked:enabled:active
  + label:before,
.checkbox-wrapper
  [type="checkbox"].substituted:checked:enabled
  + label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper [type="checkbox"].substituted:focus + label:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper [type="checkbox"].substituted:focus:active + label:before,
.checkbox-wrapper [type="checkbox"].substituted:focus + label:active:before {
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset,
    0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox-wrapper [type="checkbox"].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper [type="checkbox"].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox-wrapper
  [type="checkbox"].substituted.dark:enabled:active
  + label:before,
.checkbox-wrapper
  [type="checkbox"].substituted.dark:enabled
  + label:active:before {
  background-color: #444;
  box-shadow:
    0 0 0.04em,
    0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox-wrapper [type="checkbox"].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox-wrapper
  [type="checkbox"].substituted.dark:checked:enabled:active
  + label:before,
.checkbox-wrapper
  [type="checkbox"].substituted.dark:checked:enabled
  + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper [type="checkbox"].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

/* HTML: <div class="loader"></div> */
.fake-loader {
  width: 15px;
  aspect-ratio: 1;
  display: grid;
  color: var(--background);
  /* background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  ); */

  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 4px),
    #0000 calc(100% - 4px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 4px),
    #000 calc(100% - 4px)
  );
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.fake-loader::before,
.fake-loader::after {
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size:
    100% 3px,
    3px 100%;
  background-repeat: no-repeat;
}
.fake-loader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}

/* HTML: <div class="loader"></div> */
.circular-progress {
  width: 15px;
  aspect-ratio: 1;
  border: 4px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}
.circular-progress::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  border: 4px solid #514b82;
  animation: l18 2s infinite linear;
}
@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.key-actions {
  display: none;
}

.key-card:hover .key-actions {
  display: flex;
}
